<template>
  <div id="app">
    <div>
      <h3>Список контактов</h3>
      <img @click="addContact()" id="plusIcon" style="margin-bottom: 20px;" src="../assets/plus.svg" width="35">
      <table class="contactList" width="100%" border="0" cellpadding="10" cellspacing="0">
      <tr class="columnNames">
        <td width="20%">Имя</td>
        <td width="30%">Адрес электронной почты</td>
        <td width="30%">Телефонный номер</td>
        <td width="20%"></td>
      </tr>
      <tr class="contactInfo"  v-for="contact in contacts" :key="contact.id">
        <td @click="$router.push({name: 'details', params: { id: contact.id },})">{{contact.firstName}} {{contact.lastName}}</td>
        <td @click="$router.push({name: 'details', params: { id: contact.id },})">{{contact.email}}</td>
        <td @click="$router.push({name: 'details', params: { id: contact.id },})">{{contact.phoneNumber}}</td>
        <td>
          <img @click="$router.push({name: 'details', params: { id: contact.id },})" class="icons" src="../assets/edit-round.svg" width="45">
          <img @click="openModal(contact.id)" src="../assets/trash-can.svg" width="45">
        </td>
        <div v-bind:id="contact.id" class="modal">
          <div class="modal-content">
            <span @click="closeModal(contact.id)" class="close">&times;</span>
            <p>Вы действительно хотите удалить пользователя "{{contact.firstName}} {{contact.lastName}}"?</p>
            <button @click="deleteContact(contact.id)">Да</button>
            <button @click="closeModal(contact.id)">Нет</button>
          </div>
        </div>
      </tr>
    </table>
    </div>
  </div>
</template>

<script>
import contacts from '../assets/data.json'
import router from '../router'

/*
  Поскольку задание не уточняло, каким образом должна быть выполнена симуляция и/или создание бэкэнда я остановился на простейшем варианте
  - симуляция CRUD через локальное хранилище. Если же такой симуляции недостаточно, то могу сделать бэк на Java.
 */

export default {
  name: 'Details',
  data () {
    return {
      contacts: [], // массив с информацией о контактах, изначально две энтри берутся из json файла
      idArray: [], // массив со всеми id, даже в том случае, если какой-нибудь контакт будет удалён, для симуляции создания нового контакта
    }
  },
  methods: {
    // закрывает модальное окно с подтверждением удаления контакта
    closeModal (i) {
      document.getElementById(i).style.display = 'none'
      document.querySelector('body').classList.remove('overflow-hidden')
    },
    // открывает модальное окно с подтверждением удаления контакта
    openModal (i) {
      document.getElementById(i).style.display = 'block'
      document.querySelector('body').classList.add('overflow-hidden')
    },
    // записывает информацию о контактах в локальное хранилище
    setNewContactArray (contactsArray) {
      localStorage.setItem('contactInfo', JSON.stringify(contactsArray))
    },
    // удаляет контакт из массива с данными о контактах, можно было бы использовать
    deleteContact (id) {
      this.contacts.splice(this.contacts.findIndex(x => x.id === id), 1)
      this.setNewContactArray(this.contacts)
    },

    // добавление нового контакта, по сути в объект контакта добавляется только id,
    // которая получается прибавлением к самому большому числу из массива с id единицы
    // сразу после добавления редиректит на страницу с деталями о контакте
    addContact () {
      let highestCurrentID = Math.max.apply(null, this.idArray)
      let nextId = highestCurrentID + 1
      this.contacts.push({id: nextId, firstName: '', lastName: '', email: '', phoneNumber: ''})
      this.setNewContactArray(this.contacts)
      this.idArray.push(nextId)
      localStorage.setItem('idArray', JSON.stringify(this.idArray))
      router.push({name: 'details', params: { id: nextId }})
    }
  },
  created () {
    // определение, откуда данные берутся - из локального хранилища, или из json файла

    if (!localStorage.getItem('contactInfo')) {
      this.setNewContactArray(contacts)
    }
    this.contacts = JSON.parse(localStorage.getItem('contactInfo'))

    if (!localStorage.getItem('idArray')) {
      let newIdArray = []
      Array.from(this.contacts).forEach(val => {
        newIdArray.push(val.id)
      })
      localStorage.setItem('idArray', JSON.stringify(newIdArray))
    }
    this.idArray = JSON.parse(localStorage.getItem('idArray'))
  }
}
</script>

<style scoped>
  .contactList tr td {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-bottom-color: #0d0c10;
  }
  .columnNames {
    font-weight: bold;
    background-color: #c0bec3;
    color: #000;
  }

  .contactInfo:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  .icons {
    padding-right: 15px;
  }

  #plusIcon:hover {
    cursor: pointer;
  }
</style>
